* {
	box-sizing: border-box;
}

body {
	background: black;
	background-image:  
  radial-gradient(circle, rgba(255,255,255,0.8) 15%, transparent 40%);
  background-size: 35px 35px;
  -webkit-animation: disco 40s linear infinite;
  -moz-animation: disco 40s linear infinite;
  -o-animation: disco 40s linear infinite;
  animation: disco 40s linear infinite;
}

@keyframes disco {
  from {
    background-image: radial-gradient(circle, #809fff 20%, transparent 40%);
  }
  25% {
    background-image: radial-gradient(circle, #ff3333 20%, transparent 40%);
  }
  50% {
    background-image: radial-gradient(circle, #33FF66 20%, transparent 40%);
  }
  70% {
    background-image: radial-gradient(circle, #CC33CC 20%, transparent 40%);
  }
  to {
    background-position: 1700px 0;
  }
}

@-webkit-keyframes disco {
  from {
    background-image: radial-gradient(circle, #809fff 15%, transparent 40%);
  }
  25% {
    background-image: radial-gradient(circle, #ff3333 20%, transparent 40%);
  }
  50% {
    background-image: radial-gradient(circle, #33FF66 20%, transparent 40%);
  }
  70% {
    background-image: radial-gradient(circle, #CC33CC 20%, transparent 40%);
  }
  to {
    background-position: 900px 0;
  }
}

@-moz-keyframes disco {
  from {
    background-image: radial-gradient(circle, #809fff 15%, transparent 40%);
  }
  25% {
    background-image: radial-gradient(circle, #ff3333 20%, transparent 40%);
  }
  50% {
    background-image: radial-gradient(circle, #33FF66 20%, transparent 40%);
  }
  70% {
    background-image: radial-gradient(circle, #CC33CC 20%, transparent 40%);
  }
  to {
    background-position: 600px 0;
  }
}

@-o-keyframes disco {
  from {
    background-image: radial-gradient(circle, #809fff 15%, transparent 40%);
  }
  25% {
    background-image: radial-gradient(circle, #ff3333 20%, transparent 40%);
  }
  50% {
    background-image: radial-gradient(circle, #33FF66 20%, transparent 40%);
  }
  70% {
    background-image: radial-gradient(circle, #CC33CC 20%, transparent 40%);
  }
  to {
    background-position: 2000px 0;
  }
}



/*hanger*/
div.hanger {
  background: #fff;
  width: 4px;
  border-right: 1px solid #ddd;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 50%;
}

/*ball*/
div.ball {
	position: relative;
	background: #262626;
	border: 0.1px solid #f2f2f2;
	border-radius: 70%;
	box-shadow: -2px -2px 20px 22px rgba(242, 242, 242, 0.35);
	width: 275px;
  height: 275px;
	position: flex;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	top: 54px;
	z-index: 5;
}

.ball:after {
  content: '';
  display: block;
  position: absolute;
  top: 58px;
  right: 40px;
  height: 30px;
  width: 30px;
  opacity: 0.2;
  border-radius: 100%; 
  background: radial-gradient(circle,  #fff, #a6a6a6);
  -webkit-animation: sparkle 4s linear infinite;
  -moz-animation: sparkle 4s linear infinite;
  -o-animation: sparkle 4s linear infinite;
  animation: sparkle 4s linear infinite;
}

.ball:before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 110px;
  right: 10px;
  height: 30px;
  width: 28px;
  border-radius: 100%;
  opacity: 0.2;
  background: radial-gradient(circle,  #fff, #a6a6a6);
  -webkit-animation: sparkle 4s linear 0.5s infinite;
  -moz-animation: sparkle 4s linear 0.5s infinite;
  -o-animation: sparkle 4s linear 0.5s infinite;
  animation: sparkle 4s linear 0.5s infinite;
}

@keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    filter: brightness(300%);
    width: 45px;
    height: 35px;  
  }
  70% {
  	opacity: 0.6;
  }
  90% {
  	opacity: 0.2;
  }
  to {
    margin-right: 290px;
    opacity: 0;
  }
}

@-webkit-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    filter: brightness(300%);
    width: 45px;
    height: 35px;  
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.2;
  }
  to {
    margin-right: 290px;
    opacity: 0;
  }
}

@-moz-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    filter: brightness(300%);
    width: 45px;
    height: 35px;  
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.2;
  }
  to {
    margin-right: 290px;
    opacity: 0;
  }
}

@-o-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    filter: brightness(300%);
    width: 45px;
    height: 35px;  
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.2;
  }
  to {
    margin-right: 290px;
    opacity: 0;
  }
}


/*rows*/
div.row {
	position: relative;
	top: 0;
	left: 0;
	min-width: 370px;
	text-align: center;
	margin: -5px;
  -webkit-animation: move 3s linear infinite;
  -moz-animation: move 3s linear infinite;
  -o-animation: move 3s linear infinite;
  animation: move 3s linear infinite;	
}

@keyframes move {
  from {
    left: -60px;
  }
  to {left: 0px;
  }
}

@-webkit-keyframes move {
  from {
    left: -60px;
  }
  to {left: 0px;
  }
}

@-moz-keyframes move {
  from {
    left: -60px;
  }
  to {left: 0px;
  }
}

@-o-keyframes move {
  from {
    left: -60px;
  }
  to {left: 0px;
  }
}

/*square*/
div.square {
	width: 11px;
	height: 10px;
	background: radial-gradient(circle, rgba(255,255,255,0.8) 81%, transparent 0%);
	display: inline-block;
	margin: -1.5px;
	filter: brightness(105%);
}

iframe {
  position: absolute;
  bottom: 1px;
  opacity: 0.2;
}

iframe:hover {
  opacity: 1;
}

/*responsive*/
@media all and (min-width: 575px) {
  body { 
    background-size: 40px 40px;
  }

  div.hanger {
  width: 5px;
  height: 78px;
  }

  div.ball {
  width: 350px;
  height: 350px;
  top: 78px;
  }

 .ball:after {
  height: 35px;
  width: 35px;
  }

 .ball:before {
  height: 35px;
  width: 33px;
  }

 div.row {
  min-width: 465px;
  margin: -2px;
  margin-left: -6px; 
  }


 div.square {
  width: 14px;
  height: 14px;
  }

  iframe {
  bottom: 1px;
  }
}

@media all and (min-width: 960px) {
  body { 
    background-size: 45px 45px;
  }

  div.hanger {
  width: 5px;
  height: 80px;
  }

  div.ball {
  width: 450px;
  height: 450px;
  top: 80px;
  }

 .ball:after {
  height: 42px;
  width: 42px;
  }

 .ball:before {
  height: 42px;
  width: 40px;
  }

 div.row {
  min-width: 616px;
  margin: 1px;
  margin-left: -5px;
  }


 div.square {
  width: 19px;
  height: 17px;
  }

 iframe {
  bottom: 1px;
  }

  /*keyframe for "sparkle"*/
 @keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
    }
  50% {
    opacity: 0.9;
    filter: brightness(300%);
    width: 57px;
    height: 46px;  
    }
  70% {
    opacity: 0.6;
    }
  90% {
    opacity: 0.2;
    }
  to {
    margin-right: 380px;
    opacity: 0;
    }
  }

 @-webkit-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
    }
  50% {
    opacity: 0.9;
    filter: brightness(300%);
    width: 57px;
    height: 46px;   
    }
  70% {
    opacity: 0.6;
    }
  90% {
    opacity: 0.2;
    }
  to {
    margin-right: 380px;
    opacity: 0;
    }
  }

 @-moz-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
    }
  50% {
    opacity: 0.9;
    filter: brightness(300%);
    width: 57px;
    height: 46px;    
    }
  70% {
    opacity: 0.6;
    }
  90% {
    opacity: 0.2;
    }
  to {
    margin-right: 380px;
    opacity: 0;
    }
  }

 @-o-keyframes sparkle {
  from {
    margin-right: -45px;
    opacity: 0.4;
    }
  50% {
    opacity: 0.9;
    filter: brightness(300%);
    width: 57px;
    height: 46px;   
    }
  70% {
    opacity: 0.6;
    }
  90% {
    opacity: 0.2;
    }
  to {
    margin-right: 380px;
    opacity: 0;
    }
  }
}

